<div class="col-md-3 scrolled-fixed">
	<!-- .panel -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Detail Info.</h1>
		</div>
		<!-- .panel-body -->
		<div class="panel-body details-panel">
			<dl data-ng-if="contact.selected_user" >
				<dt>Image</dt>
				<dd>
					<img
						src="#" data-ng-src="{{ contact.selected_user.photo }}"
						width="220"
						height="220"
						alt=""
					>
				</dd>
				<dt>Name</dt>
				<dd data-ng-bind="contact.selected_user.name"></dd>
				<dt>Gender</dt>
				<dd data-ng-bind="contact.selected_user.sex | gender"></dd>
				<dt>Email</dt>
				<dd>{{contact.selected_user.email}}</dd>
				<dt>Address</dt>
				<dd>{{contact.selected_user.address + ', ' + contact.selected_user.city}}</dd>
				<dt>Phone</dt>
				<dd>{{contact.selected_user.phonenumber | removeX }}</dd>
			</dl>
		</div>
		<!--// .panel-body -->
	</div>
	<!--// .panel -->
</div>