@import config

/**
 * 페이지 모듈
 * --------------------------------
 */
body
	width: 1100px
	min-height: 100vh
	// background: #DAC494
	margin:
		left: auto
		right: auto

[role="group"]
	margin-bottom: 2em

	button
		background: #fff
		color: #808080
		border: none
		padding: .64em 1.3em
		border-radius: 4px