/**
 * Sass 조건문
 * @if ~ @else
 * @else if
 *
 * if() 함수
 * Javascript의 3항식과 유사
 * gulp-if 모듈의 처리와 유사
 * if(조건, 참, 거짓)
 * g_if(condition, true, false)
 * --------------------------------
 */


 /**
  * Sass - Loop
  * @while
  * @for
  * @each
  * --------------------------------
  */

// 초기 변수
// $i: 1

// @while $i < 10
// 	body:after
// 		content: 'pseudo content: #{$i}'
// 	$i: $i + 2

// through: ~까지
// to: ~전까지
// @for $i from 1 through 10
// 	body:after
// 		content: 'pseudo content: #{$i}'

/**
 * Sass 데이터 유형
 * 숫자
 * 문자
 * 논리
 * 함수
 * 컬러
 * 리스트(배열)
 * 맵(객체)
 * null
 * --------------------------------
 */


/**
 * Sass List Function
 * - length()
 * - nth()
 * - append()
 * --------------------------------
 */

$image-icon-path: 'images/buttons'

$button-list: ('pause', 'stop', 'prev', 'next', 'init')
$button-list: append($button-list, 'play')
$button-list: append($button-list, 'enter')
$button-list: append($button-list, 'leave')
$button-list: append($button-list, 'click')

$button-list-count: length($button-list)


%no-repeat
	background-repeat: no-repeat

// While 사례
// $i: 1
// @while $i <= $button-list-count
// 	// @debug $i
// 	$button-name: nth($button-list, $i)
// 	.icon-button-#{$button-name}
// 		background-image: url( "#{$image-icon-path}/#{$button-name}" )
// 		@extend %no-repeat
// 	$i: $i + 1

// For 사례
// @for $i from 1 through $button-list-count
// 	// @debug $i
// 	$button-name: nth($button-list, $i)
// 	.icon-button-#{$button-name}
// 		background-image: url( "#{$image-icon-path}/#{$button-name}" )
// 		@extend %no-repeat
// 		// background-repeat: no-repeat

// @each 사례
$list: ul ol li dl dt dd
// @debug type-of($list)
// @each $button-name in $button-list
	// @debug $button-name
	.icon-button-#{$button-name}
		background-image: url( "#{$image-icon-path}/#{$button-name}" )
		@extend %no-repeat

/**
 * Sass Map (like Object)
 * --------------------------------
 */
@import map

// 맵 유형 체크
// @debug type-of($buttons)

// 맵을 처리하는 함수
// http://sass-lang.com/documentation/Sass/Script/Functions.html#map-functions

// @debug type-of( map-get($buttons, stop) )

// $play-map: map-get($buttons, play)
// $stop-map: map-get($buttons, stop)

// @debug map-get($stop-map, extension)