// Buttons 정보 맵
// - url
// - width
// - height
// - extension

$buttons: (
	play: (
		url:       'images/buttons/player',
		width:     110px,
		height:    96px,
		extension: png
	),
	stop: (
		url:       'images/buttons/player',
		width:     84px,
		height:    96px,
		extension: gif
	)
);